<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
 <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
<body>

<h1>Javascript Quiz 1</h1>
<form action='/quiz1_answers/' method='POST'>
    <ol>
        {% for i in q %}
            <li> <u>{{i}}</u> </li>
            {% for j in o[i] %}
                <input type='radio' value='{{j}}' name='{{i}}' />{{j}}
            {% endfor %}
        {% endfor %}
    </ol>
    <input type="submit" value="submit" />
</form>

</body>
</html>