<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title></title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<script>
    $(document).ready(function() {
        function disablePrev() { window.history.forward() }
        window.onload = disablePrev();
        window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });

    $("#addQuestions").hide();
    $("#createButtons").hide();

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    function showHome() {
        $("#home").show();
        $("#createButtons").hide();
        $("#addQuestions").hide();
    }

    function addQuestions() {
        $("#addQuestions").show();
        $("#createButtons").hide();
        $("#home").hide();
    }

    function createButtonsDiv() {
        $("#createButtons").show();
        $("#addQuestions").hide();
        $("#home").hide();
    }

    function createButtons() {
        let buttonName = document.getElementById("createButton").value;
        let buttonElement = document.createElement('button');
        let buttonText = document.createTextNode(buttonName);
        buttonElement.id = buttonName;
        buttonElement.className = "btn btn-primary col-lg-5";
        buttonElement.appendChild(buttonText);
        document.getElementById("createdButtons").appendChild(buttonElement);
        document.getElementById("createButton").value = "";

        buttonElement.onclick = function () {
            window.open("http://127.0.0.1:5000/?link="+buttonName)
        }
    }
</script>
</head>
<style>
    .mt-n1 {
      margin-top: 3rem !important;
    }
     #wrapper {
        overflow-x: hidden;
     }

    #sidebar-wrapper {
      min-height: 100vh;
      margin-left: -15rem;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
      width: 15rem;
    }

    #page-content-wrapper {
      min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }

    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }

      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }

      #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
    }
</style>
<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            Admin Actions
        </div>
         <div class="dropdown-divider"></div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light" onclick = "addQuestions()">Add Questions</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" onclick = "createButtonsDiv()">Create Buttons</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" onclick = "createButtonsDiv()">Show Student Details</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#" onclick="showHome()">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

        <div class="container-fluid" id = "home">
        <h1 class="mt-4">Welcome Admin</h1>
        </div>

        <div class="container-fluid mt-n1" id = "addQuestions">
            <div class="col-lg-6">

                {{ message }}
                <form action="/addQuestions/" method="POST">
                    <div class="form-check-inline">
                      <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="0" checked>Age < 10
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label" for="radio2">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="1">Age > 10
                      </label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="inputEmailAddress"><b>Question</b></label>
                        <input class="form-control" id="question" name = "question" type="text" placeholder="Enter question"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword"><b>Enter Options for Question</b></label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="option1" name = "option1" type="text" placeholder="Enter 1st Option"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="option2" name = "option2" type="text" placeholder="Enter 2nd Option"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="option3" name = "option3" type="text" placeholder="Enter 3rd Option"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="option4" name = "option4" type="text" placeholder="Enter 4th Option"/>
                    </div>
                    <div class="form-group">
                        <input type = "submit" class="btn btn-primary col-sm-3" value = "Submit"/>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid" id = "createButtons" style="float: left">
            <div class="col-lg-6">
                <h3 class="mt-4 col-lg-12">Create Buttons</h3>
                <div class="mt-5">

                </div>
                <div class="form-group col-lg-12">
                    <input class="form-control" id="createButton" name = "createButton" type="text" placeholder="Enter Button name"/>
                </div>
                <div class="form-group col-lg-6">
                    <input type = "submit" class="btn btn-primary" onclick="createButtons();" value = "Create Button"/>
                </div>

                <div class="col-lg-12" id = "createdButtons">

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->

</body>

</html>
