<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                function disablePrev() { window.history.forward() }
                window.onload = disablePrev();
                window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
            });

            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    minutes = parseInt(timer / 60, 10)
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.text(minutes + ":" + seconds);

                    if (--timer < 0) {
                        timer = duration;
                    }
                }, 1000);
            }

            jQuery(function ($) {
                var fiveMinutes = 60 * 5,
                    display = $('#time');
                startTimer(fiveMinutes, display);
            });
        </script>

        <style>
            body {
                background-image: url('../static/image/background.jpg');
                overflow-x: hidden;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>

    {#
    <form action='/quiz1_answers/' method='POST'>
        <ol>
            {% for i in q %}
                <li> <u>{{i}}</u> </li>
                {% for j in o[i] %}
                    <input type='radio' value='{{j}}' name='{{i}}' />{{j}}
                {% endfor %}
            {% endfor %}
        </ol>
        <input type="submit" value="submit" />
    </form>#}
    <div style="float: right; color: white"> Quiz ends in <span id="time">05:00</span> minutes!</div>
    <div class="col-lg-6" style="margin-left: 25%">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="login-header"><h3 class="text-center font-weight-light my-3"><b>Quiz</b></h3></div>
            <div class="card-body">
                <form action="/quiz1_answers/" method="post">
                    <ol>
                        {% for i in q %}
                            <div>
                                <div class="my-5">

                                </div>
                                <div>
                                    <li>{{ i }}</li>
                                </div>
                                {% for j in o[i] %}
                                    <div class="my-2">

                                    </div>
                                    <div class="login-header rounded-lg form-check" >
                                        <input type="radio" class="form-check-input my-3" value="{{ j }}" name="{{ i }}">
                                        <label class="form-check-label my-2" for="materialUnchecked">{{ j }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </ol>

                   {# <div>
                        <li>{{ q[0] }}</li>
                    </div>


                    {% for j in o[q[0]] %}
                        <div class="my-2">

                        </div>
                        <div class="login-header rounded-lg form-check" >
                            <input type="radio" class="form-check-input my-3" value="{{ j }}" name="{{ j }}">
                            <label class="form-check-label my-2" for="materialUnchecked">{{ j }}</label>
                        </div>
                    {% endfor %}#}
                    <div class="card-footer text-center mt-2">
                        <div class="form-group mt-3 mb-0 col-lg-3">
                            <input type = "submit" class="btn btn-primary btn-block" value = "Submit">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>
</html>